    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background: #353334;
      color: #fff;
      line-height: 1.6;
      background-image: url("Images/droit.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
    }

    header {
      text-align: center;
      padding: 20px;
      background: #131113;
      border: 1px solid #918411;
      border-radius: 5px 5px 10px 10px;
      margin-bottom: 30px;

    }

    h1 {
      font-size: 26px;
      font-weight: bold;
      margin: 0;
    }

    .card {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 100px;
      align-items: center;
      background: #1d181b;
      color: #c7c6c6;
      max-width: 1200px;
      margin: 10px auto;
      padding: 20px;
      border-radius: 15px;
      border: 1px solid #918411;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    .card-text {
      flex: 1;
      line-height: 1;   }

    footer {
      background: #131113;
      padding: 20px;
      color: #c7c6c6;
      text-align: center;
      margin-top: 40px;
    }

    footer h3 {
      margin-bottom: 10px;
      font-size: 27px;
      font-weight: bold;
      color: #c7c6c6;
    }

    footer p {
      margin: 5px 0;
      font-size: 18px;
    }