    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background: #5a0b3e;
      color: #fff;
      line-height: 1.6;
      background-image: url("Images/droit.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
    }

    header {
      text-align: center;
      padding: 20px;
      background: #131113;
    }

    h1 {
      font-size: 26px;
      font-weight: bold;
      margin: 0;
    }

    .photo-container img {
      width: 180px;
      height: auto;
      border-radius: 50%;
      margin-top: 10px;
      border: 3px solid #918411;
    }

    .card {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 100px;
      align-items: center;
      background: #1d181b;
      color: #c7c6c6;
      max-width: 1200px;
      margin: 10px auto;
      padding: 20px;
      border-radius: 15px;
      border: 1px solid #918411;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    .card.light {
      background: #1d181b;
      color: #c7c6c6;
      border: 1px solid #918411;
    }

    .card-text {
      flex: 1;
      line-height: 1;   }

    h2 {
      margin-top: 0;
      font-size: 22px;
      font-weight: bold;
      color: #c7c6c6;
    }

    .section-title {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-top: 40px;
      color: #918411;
    }

    ul li { margin-bottom: 8px; }

    footer {
      background: #131113;
      padding: 20px;
      color: #c7c6c6;
      text-align: center;
      margin-top: 40px;
    }

    footer h3 {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #c7c6c6;
    }

    footer p {
      margin: 5px 0;
    }
